<div class="container-fluid">
	<div class="ferienwohnungen_heading">
		<h1 id="sylt"> Unsere Ferienwohnungen auf Sylt </h1> 
	</div> 

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(strandstraße1_image("1")),strandstrasse1_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(strandstraße2_image("1")),strandstrasse2_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", strandstrasse2_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(paulstraße_image("1")),paulstrasse_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", paulstrasse_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
	<br>
	<br>


	<!-- HUSUM -->

	<div class="ferienwohnungen_heading">
		<h1 id="husum"> Unsere Ferienwohnungen in Husum </h1> 
	</div> 

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(woldsenstraße1_image("1")),woldsenstrasse1_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", woldsenstrasse1_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(woldsenstraße2_image("1")),woldsenstrasse2_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", woldsenstrasse2_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(rosenstraße1_image("1")),rosenstrasse1_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", rosenstrasse1_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(rosenstraße2_image("1")),rosenstrasse2_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> "Austernfischer" </h2> 
				<ul> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
					<li>  Geeignet fr X Personen  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  Direkt an der Strandstraße, dennoch ruhig blabla </li> 
					<li>  Frisch renoviert  </li> 
					<li>  500 meter zum Westerländer Strand  </li> 
					<li>  110 quadratemeter im Herzen Westerlands </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", rosenstrasse2_path, class: "btn btn-large btn-warning" %>
		</div>
	</div> 
</div> 


