<!-- HUSUM -->
<h1 class="ferienwohnungen_heading"> Unsere Ferienwohnungen in Husum </h1> 

<div class="row wohnung">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/woldsen1_optimized.jpg"),woldsenstrasse1_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Wohnung Austernfischer"  </h2> 
			<ul> 
				<li> 2 Personen + ein Kind bis 10 Jahren </li> 
				<li> 68 qm Wohnung mit 2 Zimmern </li> 
				<li> sehr zentral, nur 600 Meter zum Schloss </li> 
				<li> Terrasse und eigener Parkplatz</li> 
				<li> kostenfreies WLAN </li> 
				<li> Preis ab 49 €/Nacht + NK </li> 
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", woldsenstrasse1_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 

<div class="row wohnung">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/woldsen2_optimized.jpg"),woldsenstrasse2_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Kleiner Austernfischer" </h2> 
			<ul> 
				<li> 2 Personen </li> 
				<li> auch für Alleinreisende geeignet </li> 
				<li> 38 qm Wohn und Schlafraum </li> 
				<li> sehr zentral, nur 600 Meter zum Schloss </li> 
				<li> kostenfreies WLAN </li> 
				<li> Preis ab 35 €/Nacht + NK </li> 
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", woldsenstrasse2_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 

<div class="row wohnung">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/rosen1_optimized.jpg"),rosenstrasse1_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Dat Lütte Huus" </h2> 
			<ul> 
				<li> 2 Personen </li>
				<li> 45 qm Studiowohnung mit Balkon </li> 
				<li> In Husums Altstadt </li>
				<li> nur 200 Meter zum Binnenhafen </li>
				<li> eigener Parkplatz </li>
				<li> kostenfreies WLAN </li>
				<li> Preis ab 45 €/Nacht + NK </li>
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", rosenstrasse1_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 

<div class="row wohnung">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/rosen2_optimized.jpg"),rosenstrasse2_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Dat Lütte Huus" </h2> 
			<ul> 
				<li> 2 Personen </li>
				<li> 45 qm Studiowohnung </li>
				<li> mitten in der Altstadt </li>
				<li> nur 200 Meter zum Binnenhafen </li>
				<li> eigener Parkplatz </li>
				<li> kostenfreies WLAN </li>
				<li> Preis ab 45 €/Nacht + NK </li>
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", rosenstrasse2_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 