<h1 class="ferienwohnungen_heading" id="sylt"> Unsere Ferienwohnungen auf Sylt </h1> 

<div class="row wohnung">
	<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/strandstra%C3%9Fe1_optimized.jpg"),strandstrasse1_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Wohnung Möwennest“ </h2> 
			<ul> 
				<li> 2 Personen + 1 Kind bis ca. 10 Jahren </li> 
				<li> 65 qm Wohnung mit 2 Zimmern  </li> 
				<li> sehr zentral und strandnahe  </li> 
				<li> in der Fußgängerzone </li> 
				<li> eigener Parkplatz </li> 
				<li> kostenfreies WLAN  </li> 
				<li> Preis ab 69 €/Nacht </li> 
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 

<div class="row wohnung">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/strandstra%C3%9Fe2_optimized.jpg"),strandstrasse2_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Wohnung Strandläufer“ </h2> 
			<ul> 
				<li> 2-4 Personen </li> 
				<li> 70 qm Wohnung mit 3 Zimmern </li> 
				<li> sehr zentral und strandnahe </li> 
				<li> in der Fußgängerzone </li> 
				<li> eigener Parkplatz </li> 
				<li> kostenfreies WLAN </li> 
				<li> Preis ab 89 €/Nacht </li> 
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", strandstrasse2_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 

<div class="row wohnung">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 image">
		<%= link_to(image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/paulstra%C3%9Fe_optimized.jpg"),paulstrasse_path) %> 
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 description">
			<h2> „Wohnung Seeschwalbe" </h2> 
			<ul> 
				<li> 2-4 Personen </li> 
				<li> 60 qm Wohnung mit 2,5 Zimmern </li> 
				<li> sehr zentral und strandnahe </li> 
				<li> in der Fußgängerzone </li> 
				<li> eigener Parkplatz in der Tiefgarage </li> 
				<li> kostenfreies WLAN </li> 
				<li> Preis ab 89 €/Nacht </li> 
			</ul>
			<%= link_to "WOHNUNG ANSCHAUEN", paulstrasse_path, class: "btn btn-large btn-warning" %>
	</div>
</div> 



<!-- Trying some JavaScript --> 
<script type="text/javascript" charset="utf-8">
	
	
document.getElementById("demo")

</script>











