<div class="container-fluid">
	<div class="ferienwohnungen_heading">
		<h1> Unsere Ferienwohnungen auf Sylt </h1> 
	</div>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(strandstraße1_image("1")),strandstrasse1_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> „Möwennest“ </h2> 
				<ul> 
					<li> 2 Personen + 1 Kind bis ca. 10 Jahren </li> 
					<li> 65 qm Wohnung mit 2 Zimmern  </li> 
					<li> sehr zentral und strandnahe  </li> 
					<li> in der Fußgängerzone </li> 
					<li> eigener Parkplatz </li> 
					<li> kostenfreies WLAN  </li> 
					<li> Preis ab 69 €/Nacht </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>  						
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(strandstraße2_image("1")),strandstrasse2_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> „Strandläufer“ </h2> 
				<ul> 
					<li> 2-4 Personen </li> 
					<li> 70 qm Wohnung mit 3 Zimmern </li> 
					<li> sehr zentral und strandnahe </li> 
					<li> in der Fußgängerzone </li> 
					<li> eigener Parkplatz </li> 
					<li> kostenfreies WLAN </li> 
					<li> Preis ab 89 €/Nacht </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", strandstrasse2_path, class: "btn btn-large btn-warning" %>  						
		</div>
	</div> 
	<br>
	<br>

	<div class="row-fluid">
		<div class="span5 offset1 wohnungs_picture">
			<%= link_to(image_tag(paulstraße_image("1")),paulstrasse_path) %> 
		</div>
		<div class="span5 wohnungs_beschreibung">
				<h2> „Seeschwalbe" </h2> 
				<ul> 
					<li> 2-4 Personen </li> 
					<li> 60 qm Wohnung mit 2,5 Zimmern </li> 
					<li> sehr zentral und strandnahe </li> 
					<li> in der Fußgängerzone </li> 
					<li> eigener Parkplatz in der Tiefgarage </li> 
					<li> kostenfreies WLAN </li> 
					<li> Preis ab 89 €/Nacht </li> 
				</ul>
				<%= link_to "WOHNUNG ANSCHAUEN", paulstrasse_path, class: "btn btn-large btn-warning" %>  						
		</div>
	</div> 
</div> 
