<div class="container-fluid">

	<div class="row-fluid">
	<div class="span10 offset1">

	<!-- FIRST PART - OBERE REIHE -->
	<div class="row-fluid">
		<div class="span6 boxportfolio2 fixed cat2">
			<div id="myCarousel" class="carousel slide" style="max-width:100%;">
				<div class="carousel-inner">
					<div class="active item">
							<%= image_tag(rosenstraße1_image("1"), alt: "Dat Lütte Huus") %> 
					</div>
					<div class="item">
						<%= image_tag(rosenstraße1_image("2"), alt: "Dat Lütte Huus") %> 
					</div>
					<div class="item">
						<%= image_tag(rosenstraße1_image("3"), alt: "Dat Lütte Huus") %> 
					</div>
					<div class="item">
						<%= image_tag(rosenstraße1_image("4"), alt: "Dat Lütte Huus") %> 
					</div>					
					<div class="item">
						<%= image_tag(rosenstraße1_image("5"), alt: "Dat Lütte Huus") %> 
					</div>
					<div class="item">
						<%= image_tag(rosenstraße1_image("6"), alt: "Dat Lütte Huus") %> 
					</div>		
					<div class="item">
						<%= image_tag(rosenstraße1_image("7"), alt: "Dat Lütte Huus") %> 
					</div>
					<div class="item">
						<%= image_tag(rosenstraße1_image("8"), alt: "Dat Lütte Huus") %> 
					</div>		
					<div class="item">
						<%= image_tag(rosenstraße1_image("9"), alt: "Dat Lütte Huus") %> 
					</div>					
					<div class="item">
						<%= image_tag(rosenstraße1_image("10"), alt: "Dat Lütte Huus") %> 
					</div>	
					<div class="item">
						<%= image_tag(rosenstraße1_image("11"), alt: "Dat Lütte Huus") %> 
					</div>	
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>

		<div class="span6 spezifische_wohnungsbeschreibung">
			<h2> „Dat Lütte Huus" </h2> 
			<p>
				Unser Ferienhaus „Dat lütte Huus“ befindet sich in der Husumer Altstadt in einer ruhigen Seitenstraße. Von hier sind es zum Binnenhafen nur 200 Meter. Dort können Sie das maritime Flair von Husum genießen. Im Haus befinden sich zwei Studiowohnungen. Diese Wohnung befindet sich im 1. Obergeschoss. Sie hat einen seperaten Eingang, der sich an der Rückseite des Hauses befindet. Die Wohnung ist hochwertig eingerichtet und sehr gemütlich, da sie sich unter Schrägen befindet. Sie verfügt über ein Schlafzimmer mit Doppelbett (180 x 200), eine seperate gut ausgestattete Küche mit Ceranfeld, Mirowelle, Backofen und Geschirrspülmaschine. Im Wohnbereich befindet sich eine Sitzecke mit Flachbildschirm und einem Ausgang zu dem Minibalkon. Das Badezimmer verfügt über eine Dusche und wurde erst 2013 voll saniert. Diese Wohnung verfügt über einen PKW-Stellplatz direkt hinter dem Haus. Gerne stellen wir Ihnen ein Wlan Netz zur Verfügung, welches Sie kostenlos nutzen können.
			</p> 
			<%= link_to "ZUM BELEGUNGSKALENDER UND BUCHEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>  
		</div>
	</div>


	<!-- PART 2: MINIFOTOS -->

	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("1") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("1"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("2") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("2"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("3") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("3"), alt: "Das Schlafzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("4") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("4"), alt: "Das Schlafzimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("5") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("5"), alt: "Die Küche") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("6") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("6"), alt: "Die Küche") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("7") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("7"), alt: "Die Küche") %> 
			</a> 
		</div>
		<div class="span3 small_images_container_vertical">
			<a href=<%= rosenstraße1_image("8") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("8"), alt: "Das Bad") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("9") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("9"), alt: "Der Balkon") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("10") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("10"), alt: "Der Balkon") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= rosenstraße1_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(rosenstraße1_image("11"), alt: "Dat Lütte Huus") %> 
			</a> 
		</div>
		<div class="span3 small_images_container_horizontal">
				<%= image_tag(s3_image("logo.jpg"), alt: "Urlaub im Herzen Nordfrieslands") %> 
		</div>
	</div>
	<br>
	<br>	

	<!-- PART 3: PREISTABELLE * EINRICHTUNGEN -->

	<div class="row-fluid">
		<div class="span8 prices">
			<table>
				<tr>
				  <td><strong> Unsere Preise </strong></td>
				  <td class="align_center"><strong> Erste Nacht </strong></td>
				  <td class="align_center"><strong> Folgenächte </strong></td>		
				</tr>
				<tr> 
					<td> Hauptsaison: </td> 
					<td class="align_center"> 100 € </td> 
					<td class="align_center"> 60 € </td> 
				</tr> 
				<tr> 
					<td> Nebensaison: </td> 
					<td class="align_center"> 85 €</td> 
					<td class="align_center"> 45 € </td> 
				</tr> 
				<tr> 
					<td> Zwischensaison: </td> 
					<td class="align_center"> 90 €</td> 
					<td class="align_center"> 50 €</td> 
				</tr> 
			</table>
			<div class="text">
				<p>Hauptsaison: <strong>28.06.14 - 05.09.14 </strong> und <strong>20.12.14 - 03.01.15</strong>  und  <strong>27.06.15 - 11.09.15</strong></p>
				<p>Nebensaison: <strong>01.11.14 - 19.12.14</strong>  und <strong>04.01.15 - 27.03.15</strong> und <strong>31.10.15 - 18.12.15</strong> </p>
				<p>Zwischensaison: <strong>06.09.14 - 31.10.14</strong> und <strong>28.03.15 - 26.06.15</strong> und <strong>12.09.15 - 30.10.15</strong></p>
				<h4>*Preise gelten für 2 Personen. Jede weitere Erwachsene Person 10 € / Tag.</h4>	
			</div>
		</div> 

		<div class="span4 einrichtung">
				<h2> Einrichtung  </h2> 
				<p>
					<strong>Küche:</strong> 4 Platten Ceranfeld, Backofen, Mikrowelle, Kühlschrank mit Gefrierfach, Geschirrspüler, Kaffeemaschine, Toaster, Eierkocher, Wasserkocher <br><br>
					<strong>Badezimmer:</strong> Föhn, Duschbad <br>
					<strong>Wohnzimmer:</strong> Flachbildschirm, SAT-TV <br>	
					<strong>Schlafzimmer:</strong> Doppelbett (180*200) <br><br>	
					<strong>Sonstiges:</strong> Parkplatz, Kostenfreies WLAN, Haustiere auf Anfrage, Mini Balkon, Staubsauger, Nichtraucher <br>
				</p> 
		</div> 	
	</div>
	<br>
	<br>




	<!-- PART 4: GOOGLE MAPS + KUNDENMEINUNGEN -->

	<div class="row-fluid">
		<div class="span8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2318.2839104730338!2d9.047581336245743!3d54.47557245335603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b480271b7bcd7d%3A0x994b1b2fafd43c19!2sRosenstra%C3%9Fe+33%2C+25813+Husum!5e0!3m2!1sde!2sde!4v1412098101956" width="100%" height="470" frameborder="0" style="border:0"></iframe>
		</div>

		<div class="span4 kundenmeinungen">
				<h2> Was unsere Gäste sagen: </h2>
				<br>
				<blockquote>
					<p>				
						„Hervorragend
						Die direkte stadtlage, die Einrichtung,
						der Stil“
					</p>
					<h5> Jessica aus DE </h5>
				</blockquote>
				<blockquote>
					<p>				
						„Erholung in Husum
						Die Wohnung war ein Traum. Perfekt zugeschnitten für
						2 Personen.
						Kurze Wege innerhalb Husums.“
					</p>
					<h5> H. Hinz aus Karlsruhe</h5>
				</blockquote>					
		</div>
	</div>

	<!-- closing containing row & span -->

	</div>
	</div>
</div>


<!-- initializng prettyPhoto -->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>