<div class="container-fluid">

	<div class="row-fluid">
	<div class="span10 offset1">

	<!-- FIRST PART - OBERE REIHE -->
	<div class="row-fluid">
		<div class="span7 boxportfolio2 fixed cat2">
			<div id="myCarousel" class="carousel slide" style="max-width:100%;">
				<div class="carousel-inner">
					<div class="active item">
							<%= image_tag(strandstraße1_image("1"), alt: "Wohnung Möwennest") %> 
						<div class="carousel-caption">
							<h4> Wohnung „Möwennest“ in Westerland </h4>
						</div>
					</div>
					<div class="item">
						<%= image_tag(strandstraße1_image("2"), alt: "Wohnung Möwennest") %> 
					</div>
					<div class="item">
						<%= image_tag(strandstraße1_image("3"), alt: "Wohnung Möwennest") %> 
					</div>
					<div class="item">
						<%= image_tag(strandstraße1_image("4"), alt: "Wohnung Möwennest") %> 
					</div>					
					<div class="item">
						<%= image_tag(strandstraße1_image("5"), alt: "Wohnung Möwennest") %> 
					</div>
					<div class="item">
						<%= image_tag(strandstraße1_image("6"), alt: "Wohnung Möwennest") %> 
					</div>		
					<div class="item">
						<%= image_tag(strandstraße1_image("7"), alt: "Wohnung Möwennest") %> 
					</div>
					<div class="item">
						<%= image_tag(strandstraße1_image("8"), alt: "Wohnung Möwennest") %> 
					</div>		
					<div class="item">
						<%= image_tag(strandstraße1_image("9"), alt: "Wohnung Möwennest") %> 
					</div>					
					<div class="item">
						<%= image_tag(strandstraße1_image("10"), alt: "Wohnung Möwennest") %> 
					</div>	
					<div class="item">
						<%= image_tag(strandstraße1_image("11"), alt: "Wohnung Möwennest") %> 
					</div>	
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>

		<div class="span5 spezifische_wohnungsbeschreibung">
			<h2> „Möwennest“ </h2> 
			<p>
				„Super für Paare mit Kind“
				Wenn Sie mitten im im Zentrum wohnen möchten sind Sie in dieser gemütlichen, sehr zentralen, strandnahen Wohnung richtig. Sie befindet sich im 1. Stock des Vorderhauses der Strandstraße 14. Diese Wohnung ist super geeignet für Paare mit einem Kind bis ca. 10 Jahren. Sie verfügt über einen großen Wohnraum mit Essecke. Von hier aus schauen Sie direkt in die Fußgängerzone „Neue Straße“. Das Schlafzimmer hat ein Doppelbett (180 x 200) und eine Schlafnische mit einem Bett (90 x200), welche durch eine Schiebetür abgetrennt wird. In dieser Wohnung sind das WC und das Duschbad getrennt. Die gut eingerichtete Küche befindet sich im Durchgangsflur. Eine Waschmaschine für unsere Feriengäste befindet sich im Hauswirtschaftsraum auf Ihrer Etage. Zu dieser Wohnung gehört ein PKW-Stellplatz auf unserem eigenem Parkplatz, welcher ausgeschilder ist. Gerne stellen wir Ihnen ein WLAN Netz zur Verfügung, welches Sie kostenfrei nutzen können.
			</p> 
			<%= link_to "ZUM BELEGUNGSKALENDER UND BUCHEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>  
		</div>
	</div>


	<!-- PART 2: MINIFOTOS -->

	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("1") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("1"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("2") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("2"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("3") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("3"), alt: "Das Esszimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("4") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("4"), alt: "Das Schlafzimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("5") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("5"), alt: "Das Schlafzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("6") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("6"), alt: "Das Bad") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("7") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("7"), alt: "Das Bad") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("8") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("8"), alt: "Die Küche") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("9") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("9"), alt: "Die Kücke") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("10") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("10"), alt: "die Fußgängerzone") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("11"), alt: "Das Haus") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= strandstraße1_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(strandstraße1_image("11"), alt: "Das Haus") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>	

	<!-- PART 3: PREISTABELLE * EINRICHTUNGEN -->

	<div class="row-fluid">
		<div class="span8 prices">
			<table>
				<tr>
				  <td><strong> Unsere Preise </strong></td>
				  <td class="align_center"><strong> Erste Nacht </strong></td>
				  <td class="align_center"><strong> Folgenächte </strong></td>		
				</tr>
				<tr> 
					<td> Hauptsaison: </td> 
					<td class="align_center"> 105 € </td> 
					<td class="align_center"> 65 € </td> 
				</tr> 
				<tr> 
					<td> Nebensaison: </td> 
					<td class="align_center"> 89 €</td> 
					<td class="align_center"> 49 € </td> 
				</tr> 
				<tr> 
					<td> Zwischensaison: </td> 
					<td class="align_center"> 89 €</td> 
					<td class="align_center"> 49 €</td> 
				</tr> 
			</table>
			<div class="text">
				<p>Hauptsaison: <strong>28.06.14 - 05.09.14 </strong> und <strong>20.12.14 - 03.01.15</strong>  und  <strong>27.06.15 - 11.09.15</strong></p>
				<p>Nebensaison: <strong>01.11.14 - 19.12.14</strong>  und <strong>04.01.15 - 27.03.15</strong> und <strong>31.10.15 - 18.12.15</strong> </p>
				<p>Zwischensaison: <strong>06.09.14 - 31.10.14</strong> und <strong>28.03.15 - 26.06.15</strong> und <strong>12.09.15 - 30.10.15</strong></p>
				<h4>*Preise gelten für 2 Personen. Jede weitere Erwachsene Person 10 € / Tag.</h4>	
			</div>
		</div> 

		<div class="span4 einrichtung">
				<h2> Einrichtung  </h2> 
				<p>
					<strong>Küche:</strong> 4 Platten Ceranfeld, Backofen, Mikrowelle, Kühlschrank mit Gefrierfach, Geschirrspüler, Kaffeemaschine, Toaster, Eierkocher, Wasserkocher <br><br>
					<strong>Badezimmer:</strong> Föhn, Duschbad, barrierefrei <br>
					<strong>Wohnzimmer:</strong> Flachbildschirm, SAT-TV <br>	
					<strong>Schlafzimmer:</strong> Doppelbett (180*200) <br><br>	
					<strong>Sonstiges:</strong> Waschmaschine auf Anfrage, Fahrradschuppen auf Anfrage, Haustiere auf Anfrage, Wäscheständer, Staubsauger, WLAN, Parkplatz, Terrasse mit Grill, Nichtraucher <br>

				</p> 
		</div> 	
	</div>
	<br>
	<br>




	<!-- PART 4: GOOGLE MAPS + KUNDENMEINUNGEN -->

	<div class="row-fluid">
		<div class="span8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2293.6431238392993!2d8.303053399999998!3d54.909185799999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b4de8d553d07f3%3A0x3d2f9a03dd4baf6b!2sStrandstra%C3%9Fe+14%2C+25980!5e0!3m2!1sde!2sde!4v1410298837893" width="100%" height="470"></iframe>
		</div>

		<!-- <div class="span4 kundenmeinungen">
				<h2> Was unsere Gäste sagen: </h2>
				<br>
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p>
					<small>Mark Zolinger Client of Project </small>
				</blockquote>
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p>
					<small>Mark Zolinger Client of Project</small>
				</blockquote>
		</div> -->
	</div>


	<!-- closing containing row & span -->

	</div>
	</div>
</div>


<!-- initializng prettyPhoto -->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>




