<div class="row ueber_uns">
	<div class="col-sx-10 col-sx-offset-1 col-md-4 col-md-offset-1 text">
		<h2> Liebe Feriengäste, </h2>
		<p>
			schön, dass Sie auf unsere ganz personliche Internetseite gefunden haben.
			Wir – Das sind Alexander und Sylvia mit unseren drei Kindern Johannes, Anna und Alex, sowie Hund Gismo. Wir sind eine mittelständige Einzelhändlerfamilie aus Husum, die sich seit fünf Jahren ein zweites Standbein mit Ferienwohnungen in Husum und Westerland aufbaut. Langsam sammelt sich ein kleines Portfolio an, welches wir Ihnen hier auf der Internetseite vorstellen. Jede Ferienwohnung wurde von uns persönlich gestaltet und regelmäßig schauen wir dort nach dem Rechten.
			Leider können wir unsere Wohnungen nicht selbst verwalten und haben Vertrauenspersonen in Husum und Westerland, die dies für uns übernehmen. Diese sind Frau Wiebke Volquardsen in Husum und
			Herr Johannes Hussmann in Westerland, die auch als Kontaktpersonen aufgeführt werden.
		</p> 
	</div>
	<br>
	<br>
	<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 image">
		<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/fam_optimized.jpg", alt: "Familie Seikowsky - Urlaub im Herzen") %> 
		<%= link_to "ZU UNSEREN FERIENWOHNUNGEN", ferienwohnungen_path, class: "btn btn-large btn-warning" %>
		<%= link_to "KONTAKT", kontakt_path, class: "btn btn-large btn-warning" %> 
		<br> 
		<br>
		<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/Kundenmeinung1.jpg", alt: "Was Kunden über die Ferienwohnung sagen") %> 
		<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/Kundenmeinung2.jpg", alt: "Was Kunden über die Ferienwohnung sagen") %> 
		<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/Kundenmeinung3.jpg", alt: "Was Kunden über die Ferienwohnung sagen") %> 
	</div> 
</div> 

<!-- Kundenmeinungen -->
<div class="row meinungen">
	<div class="col-xs-5 col-xs-offset-1">

	</div> 
	<div class="col-xs-5">

	</div> 
</div> 


