<div class="container-fluid">

	<div class="row-fluid">
	<div class="span10 offset1">

	<!-- FIRST PART - OBERE REIHE -->
	<div class="row-fluid">
		<div class="span6 boxportfolio2 fixed cat2">
			<div id="myCarousel" class="carousel slide" style="max-width:100%;">
				<div class="carousel-inner">
					<div class="active item">
							<%= image_tag(woldsenstraße2_image("1"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße2_image("2"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße2_image("3"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße2_image("4"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>					
					<div class="item">
						<%= image_tag(woldsenstraße2_image("5"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße2_image("6"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>		
					<div class="item">
						<%= image_tag(woldsenstraße2_image("7"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße2_image("8"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>		
					<div class="item">
						<%= image_tag(woldsenstraße2_image("9"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>					
					<div class="item">
						<%= image_tag(woldsenstraße2_image("10"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>	
					<div class="item">
						<%= image_tag(woldsenstraße2_image("11"), alt: "Wohnung Kleiner Austernfischer") %> 
					</div>	
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>

		<div class="span6 spezifische_wohnungsbeschreibung">
			<h2> „Kleiner Austernfischer" </h2> 
			<p>
					Der kleine Austernfischer begrüßt Sie in Husum in ruhiger Lage nur 5 Gehminuten vom Schloss entfernt. Diese kleine, gemütliche Ferienwohnung befindet sich auf dem Hinterhof eines Mehrfamilienhauses. Sie wurde erst im Juni 2013 fertig gestellt Im Schlafzimmer befindet sich ein Doppelbett (180 x 200). Die Wohnküche ist gut ausgestattet mit Geschirrspüler, Ceranfeld, Kühlschrank, Toaster, Wasserkocher, Kaffeemaschine, Mikrowelle, sowie einer kleinen Sitzecke mit zwei Sesseln und einem Flachbildschirm. Auch das Duschbad ist modern eingerichtet. Vor der Wohnung befindet sich eine Sitzecke mit Gartenmöbeln. Ihr Auto können Sie an der wenig befahrenen Straße abstellen. Gerne stellen wir Ihnen ein kostenfreies WLAN Netz zur Verfügung.
			</p> 
			<%= link_to "ZUM BELEGUNGSKALENDER UND BUCHEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>  
		</div>
	</div>


	<!-- PART 2: MINIFOTOS -->

	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("1") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("1"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("2") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("2"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("3") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("3"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("4") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("4"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("5") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("5"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("6") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("6"), alt: "Die Küche") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("7") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("7"), alt: "Das Schlafzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container_vertical">
			<a href=<%= woldsenstraße2_image("8") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("8"), alt: "Das Bad") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("9") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("9"), alt: "Die Terrasse") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("10") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("10"), alt: "Die Terrasse") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("11"), alt: "Das Haus") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße2_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße2_image("11"), alt: "Unser Logo") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>	

	<!-- PART 3: PREISTABELLE * EINRICHTUNGEN -->

	<div class="row-fluid">
		<div class="span8 prices">
			<table>
				<tr>
				  <td><strong> Unsere Preise </strong></td>
				  <td class="align_center"><strong> Erste Nacht </strong></td>
				  <td class="align_center"><strong> Folgenächte </strong></td>		
				</tr>
				<tr> 
					<td> Hauptsaison: </td> 
					<td class="align_center"> 75 € </td> 
					<td class="align_center"> 45 € </td> 
				</tr> 
				<tr> 
					<td> Nebensaison: </td> 
					<td class="align_center"> 65 €</td> 
					<td class="align_center"> 35 € </td> 
				</tr> 
			</table>
			<div class="text">
				<p>Hauptsaison: <strong>28.06.14 - 31.10.14 </strong> und <strong>20.12.14 - 03.01.15</strong>  und  <strong>29.03.15 - 30.10.15</strong></p>
				<p>Nebensaison: <strong>01.11.14 - 19.12.14</strong>  und <strong>04.01.15 - 28.03.15</strong> und <strong>31.10.15 - 18.12.15</strong> </p>
				<h4>*Preise gelten für 2 Personen. Jede weitere Erwachsene Person 10 € / Tag.</h4>	
			</div>
		</div> 

		<div class="span4 einrichtung">
				<h2> Einrichtung  </h2> 
				<p>
					<strong>Küche:</strong> 4 Platten Ceranfeld, Backofen, Mikrowelle, Kühlschrank mit Gefrierfach, Geschirrspüler, Kaffeemaschine, Toaster, Eierkocher, Wasserkocher <br><br>
					<strong>Badezimmer:</strong> Föhn, Duschbad <br>
					<strong>Wohnzimmer:</strong> Flachbildschirm, SAT-TV <br>	
					<strong>Schlafzimmer:</strong> Doppelbett (180*200) <br><br>	
					<strong>Sonstiges:</strong> Waschmaschine auf Anfrage, Fahrradschuppen auf Anfrage, Haustiere auf Anfrage, Wäscheständer, Staubsauger, WLAN, Nichtraucher <br>
				</p> 
		</div> 	
	</div>
	<br>
	<br>




	<!-- PART 4: GOOGLE MAPS + KUNDENMEINUNGEN -->

	<div class="row-fluid">
		<div class="span8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2318.0905378962807!2d9.057303729193857!3d54.47898439239513!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b37fd751d9a8bb%3A0x270873a6538da9ff!2sWoldsenstra%C3%9Fe+32%2C+25813+Husum!5e0!3m2!1sde!2sde!4v1412097973893" width="100%" height="470" frameborder="0" style="border:0"></iframe>
		</div>

		<div class="span4 kundenmeinungen">
				<h2> Was unsere Gäste sagen: </h2>
				<br>
				<blockquote>
					<p>				
						„Nett und gemütlich eingerichtete Wohnung - alles neu und modern. Wir hatten eine angenehmen Woche, um die Nordsee für uns zu entdecken. Von Husum aus sind
						wir u.a. nach Sylt, Föhr und Amrum gestartet. Die geführte Wattwanderung unternahmen wir in der Husumer Bucht."
					</p>
					<h4> A. Klein aus Markranstädt </h4>
				</blockquote>

		</div>
	</div>

	<!-- closing containing row & span -->

	</div>
	</div>
</div>


<!-- initializng prettyPhoto -->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
