<div class="container-fluid">

	<div class="row-fluid">
	<div class="span10 offset1">

	<!-- FIRST PART - OBERE REIHE -->
	<div class="row-fluid">
		<div class="span6 boxportfolio2 fixed cat2">
			<div id="myCarousel" class="carousel slide" style="max-width:100%;">
				<div class="carousel-inner">
					<div class="active item">
							<%= image_tag(woldsenstraße1_image("1"), alt: "Das Wohnzimmer") %> 
						<div class="carousel-caption">
							<h4> Wohnung Austernfischer in Westerland auf Sylt</h4>
						</div>
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("2"), alt: "Das Wohnzimmer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("3"), alt: "Das Wohnzimmer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("4"), alt: "Das Wohnzimmer") %> 
					</div>					
					<div class="item">
						<%= image_tag(woldsenstraße1_image("5"), alt: "Das Wohnzimmer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("6"), alt: "Das Wohnzimmer") %> 
					</div>		
					<div class="item">
						<%= image_tag(woldsenstraße1_image("7"), alt: "Das Wohnzimmer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("8"), alt: "Das Wohnzimmer") %> 
					</div>		
					<div class="item">
						<%= image_tag(woldsenstraße1_image("9"), alt: "Das Wohnzimmer") %> 
					</div>					
					<div class="item">
						<%= image_tag(woldsenstraße1_image("10"), alt: "Das Wohnzimmer") %> 
					</div>	
					<div class="item">
						<%= image_tag(woldsenstraße1_image("11"), alt: "Das Wohnzimmer") %> 
					</div>	
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>

		<div class="span6 spezifische_wohnungsbeschreibung">
			<h2> "Austernfischer" </h2> 
			<p>
				Die große und modern eingerichtete Wohnung im 2. Stock für 1-4 (5) Personen liegt mi@en im Zentrum Westerlands. Zum Strand sind es ca. 300m. Die Wohnung verfügt über einen großen Wohnraum mit Sitzgruppe, LCD Flachbild TV, eine große voll ausgesta@eten Küchenzeile mit 4 Pla@en Ceranfeld, Backofen, Spülmaschine etc., Zugang zum Balkon; zwei Schlafräume, einem Duschbad, ein separates WC; PKW Stellplatz in der Tiefgarage vorhand
			</p> 
			<%= link_to "ZUM BELEGUNGSKALENDER UND BUCHEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>  
		</div>
	</div>


	<!-- PART 2: MINIFOTOS -->

	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("1") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("1"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("2") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("2"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("3") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("3"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("4") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("4"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("5") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("5"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("6") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("6"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("7") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("7"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("8") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("8"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("9") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("9"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("10") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("10"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("10"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image("10"), alt: "Das Wohnzimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>	

	<!-- PART 3: PREISTABELLE * EINRICHTUNGEN -->

	<div class="row-fluid">
		<div class="span8 prices">
			<table>
				<tr>
				  <td><strong> Unsere Preise </strong></td>
				  <td class="align_center"><strong> Erste Nacht </strong></td>
				  <td class="align_center"><strong> Folgenächte </strong></td>		
				</tr>
				<tr> 
					<td> Hauptsaison: </td> 
					<td class="align_center"> 105 € </td> 
					<td class="align_center"> 65 € </td> 
				</tr> 
				<tr> 
					<td> Nebensaison: </td> 
					<td class="align_center"> 89 €</td> 
					<td class="align_center"> 49 € </td> 
				</tr> 
				<tr> 
					<td> Zwischensaison: </td> 
					<td class="align_center"> 89 €</td> 
					<td class="align_center"> 49 €</td> 
				</tr> 
			</table>
			<div class="text">
				<p>Hauptsaison: <strong>28.06.14 - 05.09.14 </strong> und <strong>20.12.14 - 03.01.15</strong>  und  <strong>27.06.15 - 11.09.15</strong></p>
				<p>Nebensaison: <strong>01.11.14 - 19.12.14</strong>  und <strong>04.01.15 - 27.03.15</strong> und <strong>31.10.15 - 18.12.15</strong> </p>
				<p>Zwischensaison: <strong>06.09.14 - 31.10.14</strong> und <strong>28.03.15 - 26.06.15</strong> und <strong>12.09.15 - 30.10.15</strong></p>
				<h4>*Preise gelten für 2 Personen. Jede weitere Erwachsene Person 10 € / Tag.</h4>	
			</div>
		</div> 

		<div class="span4 einrichtung">
				<h2> Einrichtung  </h2> 
				<p>
					<strong>Küche:</strong> 4 Platten Ceranfeld, Backofen, Mikrowelle, Kühlschrank mit Gefrierfach, Geschirrspüler, Kaffeemaschine, Toaster, Eierkocher, Wasserkocher <br><br>
					<strong>Badezimmer:</strong> Föhn, Duschbad, barrierefrei <br>
					<strong>Wohnzimmer:</strong> Flachbildschirm, SAT-TV <br>	
					<strong>Schlafzimmer:</strong> Doppelbett (180*200) <br><br>	
					<strong>Sonstiges:</strong> Waschmaschine auf Anfrage, Fahrradschuppen auf Anfrage, Haustiere auf Anfrage, Wäscheständer, Staubsauger, WLAN, Parkplatz, Terrasse mit Grill, Nichtraucher <br>

				</p> 
		</div> 	
	</div>
	<br>
	<br>




	<!-- PART 4: GOOGLE MAPS + KUNDENMEINUNGEN -->

	<div class="row-fluid">
		<div class="span8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2318.0905378962807!2d9.057303729193857!3d54.47898439239513!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b37fd751d9a8bb%3A0x270873a6538da9ff!2sWoldsenstra%C3%9Fe+32%2C+25813+Husum!5e0!3m2!1sde!2sde!4v1412097973893" width="100%" height="470" frameborder="0" style="border:0"></iframe>
		</div>

		<div class="span4 kundenmeinungen">
				<h2> Was unsere Gäste sagen: </h2>
				<br>
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p>
					<small>Mark Zolinger Client of Project </small>
				</blockquote>
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. scelerisque et tellus. Maecenas hendrerit enim sed nulla euismod id feugiat neque bibendum.
					</p>
					<small>Mark Zolinger Client of Project</small>
				</blockquote>
		</div>
	</div>


	<!-- closing containing row & span -->

	</div>
	</div>
</div>


<!-- initializng prettyPhoto -->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
