<div class="container-fluid">

	<div class="row-fluid">
	<div class="span10 offset1">

	<!-- FIRST PART - OBERE REIHE -->
	<div class="row-fluid">
		<div class="span6 boxportfolio2 fixed cat2">
			<div id="myCarousel" class="carousel slide" style="max-width:100%;">
				<div class="carousel-inner">
					<div class="active item">
							<%= image_tag("https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/woldsen1_optimized.jpg", alt: "Wohnung Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("2"), alt: "Wohnung Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("3"), alt: "Wohnung Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("4"), alt: "Wohnung Austernfischer") %> 
					</div>					
					<div class="item">
						<%= image_tag(woldsenstraße1_image("5"), alt: "Wohnung Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("6"), alt: "Wohnung Austernfischer") %> 
					</div>		
					<div class="item">
						<%= image_tag(woldsenstraße1_image("7"), alt: "Wohnung Austernfischer") %> 
					</div>
					<div class="item">
						<%= image_tag(woldsenstraße1_image("8"), alt: "Wohnung Austernfischer") %> 
					</div>		
					<div class="item">
						<%= image_tag(woldsenstraße1_image("9"), alt: "Wohnung Austernfischer") %> 
					</div>					
					<div class="item">
						<%= image_tag(woldsenstraße1_image("10"), alt: "Wohnung Austernfischer") %> 
					</div>	
					<div class="item">
						<%= image_tag(woldsenstraße1_image("11"), alt: "Wohnung Austernfischer") %> 
					</div>	
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>

		<div class="span6 spezifische_wohnungsbeschreibung">
			<h2> „Austernfischer" </h2> 
			<p>
			 	Diese helle und komfortable Ferienwohnung für den gehobenen Anspruch ist Ihre Grundlage für einen unbeschwerten und erholsamen Nordsee-Urlaub. Die Wohnung wurde erst Anfang 2013 fertig gestellt. Sie befindet sich im EG eines Mehrfamilienhauses. Sie ist barrierefrei und großzügig geschnitten.Die Wohnung ist für 1-4 Personen eingerichtet. Sie hat ein Schlafzimmer mit Doppelbett (180 x 200), eine sehr gut ausgestattete Küche mit Geschirrspüler. Im Wohnzimmer befindet sich eine Sitzecke mit Schlafsofa (140 x 200) und einem Flachbildschirm. Am Besten eignet sich dieses Schlafsofa für Kinder.Das Duschbad ist barrierefrei. Auf der Terrasse befindet sich eine Sitzgruppe und ein Grill. Zu dieser Wohnung gehört ein PKW-Stellplatz vor dem Haus. Gerne stellen wir Ihnen ein WLAN Netz zur Verfügung, welches Sie kostenfrei nutzen können.
			</p> 
			<%= link_to "ZUM BELEGUNGSKALENDER UND BUCHEN", strandstrasse1_path, class: "btn btn-large btn-warning" %>  
		</div>
	</div>


	<!-- PART 2: MINIFOTOS -->

	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("1") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("1"), alt: "Das Wohn- und Esszimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("2") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("2"), alt: "Das Wohn- und Esszimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("3") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("3"), alt: "Das Wohn- und Esszimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("4") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("4"), alt: "Das Wohn- und Esszimmer") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("5") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("5"), alt: "Das Wohn- und Esszimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("6") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("6"), alt: "Das Schlafzimmer") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("7") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("7"), alt: "Das Bad") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("8") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("8"), alt: "Die Terasse") %> 
			</a> 
		</div>
	</div>
	<br>
	<br>
	<div class="row-fluid">
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("9") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("9"), alt: "Die Terasse") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("10") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("10"), alt: "Der Parkplatz") %> 
			</a> 
		</div>
		<div class="span3 small_images_container">
			<a href=<%= woldsenstraße1_image("11") %> rel="prettyPhoto[pp_gal]">
				<%= image_tag(woldsenstraße1_image_small("10"), alt: "Der Parkplatz") %> 
			</a> 
		</div>
		<div class="span3 small_images_container_horizontal">
				<%= image_tag(s3_image("logo.jpg"), alt: "Urlaub im Herzen Nordfrieslands") %> 
		</div>
	</div>
	<br>
	<br>	

	<!-- PART 3: PREISTABELLE * EINRICHTUNGEN -->

	<div class="row-fluid">
		<div class="span8 prices">
			<table>
				<tr>
				  <td><strong> Unsere Preise </strong></td>
				  <td class="align_center"><strong> Erste Nacht </strong></td>
				  <td class="align_center"><strong> Folgenächte </strong></td>		
				</tr>
				<tr> 
					<td> Hauptsaison: </td> 
					<td class="align_center"> 105 € </td> 
					<td class="align_center"> 65 € </td> 
				</tr> 
				<tr> 
					<td> Nebensaison: </td> 
					<td class="align_center"> 89 €</td> 
					<td class="align_center"> 49 € </td> 
				</tr> 
				<tr> 
					<td> Zwischensaison: </td> 
					<td class="align_center"> 89 €</td> 
					<td class="align_center"> 49 €</td> 
				</tr> 
			</table>
			<div class="text">
				<p>Hauptsaison: <strong>28.06.14 - 05.09.14 </strong> und <strong>20.12.14 - 03.01.15</strong>  und  <strong>27.06.15 - 11.09.15</strong></p>
				<p>Nebensaison: <strong>01.11.14 - 19.12.14</strong>  und <strong>04.01.15 - 27.03.15</strong> und <strong>31.10.15 - 18.12.15</strong> </p>
				<p>Zwischensaison: <strong>06.09.14 - 31.10.14</strong> und <strong>28.03.15 - 26.06.15</strong> und <strong>12.09.15 - 30.10.15</strong></p>
				<h4>*Preise gelten für 2 Personen. Jede weitere Erwachsene Person 10 € / Tag.</h4>	
			</div>
		</div> 

		<div class="span4 einrichtung">
				<h2> Einrichtung  </h2> 
				<p>
					<strong>Küche:</strong> 4 Platten Ceranfeld, Backofen, Mikrowelle, Kühlschrank mit Gefrierfach, Geschirrspüler, Kaffeemaschine, Toaster, Eierkocher, Wasserkocher <br><br>
					<strong>Badezimmer:</strong> Föhn, Duschbad, barrierefrei <br>
					<strong>Wohnzimmer:</strong> Flachbildschirm, SAT-TV <br>	
					<strong>Schlafzimmer:</strong> Doppelbett (180*200) <br><br>	
					<strong>Sonstiges:</strong> Waschmaschine auf Anfrage, Fahrradschuppen auf Anfrage, Haustiere auf Anfrage, Wäscheständer, Staubsauger, WLAN, Parkplatz, Terrasse mit Grill, Nichtraucher <br>

				</p> 
		</div> 	
	</div>
	<br>
	<br>


	<!-- PART 4: GOOGLE MAPS + KUNDENMEINUNGEN -->

	<div class="row-fluid">
		<div class="span8">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2318.0905378962807!2d9.057303729193857!3d54.47898439239513!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b37fd751d9a8bb%3A0x270873a6538da9ff!2sWoldsenstra%C3%9Fe+32%2C+25813+Husum!5e0!3m2!1sde!2sde!4v1412097973893" width="100%" height="470" frameborder="0" style="border:0"></iframe>
		</div>

		<div class="span4 kundenmeinungen">
				<h2> Was unsere Gäste sagen: </h2>
				<br>
				<blockquote>
					<p>
						„Alles top , rein kommen, wohlfühlen,
						Urlaub haben
						und nichts vermissen!“
					</p>
					<h5> U.Burmester aus Osterrönfeld </h5>
				</blockquote>
		</div>
	</div>


	<!-- closing containing row & span -->

	</div>
	</div>
</div>


<!-- initializng prettyPhoto -->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
