<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="big_photo">
          <a href="https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/woldsen1_optimized.jpg" rel="prettyPhoto[wohnungsfotos]">
            <img src="https://s3-eu-west-1.amazonaws.com/urlaub-im-herzen/new/woldsen1_optimized.jpg" rel="prettyPhoto[wohnungsfotos]" width="100%" height="auto" />

            <div class="picture_gallery_button">
              ALLE PHOTOS IN GROSS ANSCHAUN
            </div> 
          </a> 
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2318.0905378962807!2d9.057303729193857!3d54.47898439239513!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b37fd751d9a8bb%3A0x270873a6538da9ff!2sWoldsenstra%C3%9Fe+32%2C+25813+Husum!5e0!3m2!1sde!2sde!4v1412097973893" width="100%" height="470"></iframe>

        <div class="prices">
          <table>
            <tr>
              <td><strong> Unsere Preisliste </strong></td>
              <td class="align_center"><strong> 1ste Nacht </strong></td>
              <td class="align_center"><strong> Folgenacht </strong></td>   
            </tr>
            <tr> 
              <td> Hauptsaison: </td> 
              <td class="align_center"> 105 € </td> 
              <td class="align_center"> 65 € </td> 
            </tr> 
            <tr> 
              <td> Nebensaison: </td> 
              <td class="align_center"> 89 €</td> 
              <td class="align_center"> 49 € </td> 
            </tr> 
            <tr> 
              <td> Zwischensaison: </td> 
              <td class="align_center"> 89 €</td> 
              <td class="align_center"> 49 €</td> 
            </tr> 
          </table>
            <h5> *Alle Preise gelten für 2 Personen. Jede weitere Erwachsene Person 10 € / Tag.</h5>  
        </div> 

      <!-- Closing Column -->
      </div>

      <div class="col-xs-12 col-sm-4 spezifische_wohnungsbeschreibung">
        <%= link_to "BUCHEN BEI HUSSMAN", "http://www.hussmann-sylt.de/index.php/ferienwohnungen/dobooking/app-moewennest/154/de" ,class: "btn btn-large btn-warning", target:"_blanck" %>  
        <h2> „Austernfischer" </h2> 
        <p>
          Diese helle und komfortable Ferienwohnung für den gehobenen Anspruch ist Ihre Grundlage für einen unbeschwerten und erholsamen Nordsee-Urlaub. Die Wohnung wurde erst Anfang 2013 fertig gestellt. Sie befindet sich im EG eines Mehrfamilienhauses. Sie ist barrierefrei und großzügig geschnitten.Die Wohnung ist für 1-4 Personen eingerichtet. Sie hat ein Schlafzimmer mit Doppelbett (180 x 200), eine sehr gut ausgestattete Küche mit Geschirrspüler. Im Wohnzimmer befindet sich eine Sitzecke mit Schlafsofa (140 x 200) und einem Flachbildschirm. Am Besten eignet sich dieses Schlafsofa für Kinder.Das Duschbad ist barrierefrei. Auf der Terrasse befindet sich eine Sitzgruppe und ein Grill. Zu dieser Wohnung gehört ein PKW-Stellplatz vor dem Haus. Gerne stellen wir Ihnen ein WLAN Netz zur Verfügung, welches Sie kostenfrei nutzen können.
        </p> 
        <hr>
        <h3> Einrichtung  </h3> 
          <p>
          <strong>Küche:</strong> 4 Platten Ceranfeld, Backofen, Mikrowelle, Kühlschrank mit Gefrierfach, Geschirrspüler, Kaffeemaschine, Toaster, Eierkocher, Wasserkocher <br><br>
          <strong>Badezimmer:</strong> Föhn, Duschbad, barrierefrei <br>
          <strong>Wohnzimmer:</strong> Flachbildschirm, SAT-TV <br> 
          <strong>Schlafzimmer:</strong> Doppelbett (180*200) <br><br>  
          <strong>Sonstiges:</strong> Waschmaschine auf Anfrage, Fahrradschuppen auf Anfrage, Haustiere auf Anfrage, Wäscheständer, Staubsauger, WLAN, Parkplatz, Terrasse mit Grill, Nichtraucher <br>
          </p> 
        <hr>
        <h3> Saisons </h3> 
          <p>Hauptsaison: <br> <strong>28.06.14 - 05.09.14 </strong> <br> <strong>20.12.14 - 03.01.15</strong>  <br>  <strong>27.06.15 - 11.09.15</strong></p>
          <p>Nebensaison: <br> <strong>01.11.14 - 19.12.14</strong>  <br> <strong>04.01.15 - 27.03.15</strong> <br> <strong>31.10.15 - 18.12.15</strong> </p>
          <p>Zwischensaison: <strong>06.09.14 - 31.10.14</strong> <br> <strong>28.03.15 - 26.06.15</strong> <br> <strong>12.09.15 - 30.10.15</strong></p>
          <br>
      </div>
    </div>

    <!-- prettyPhoto Gallery -->
      <%= link_to "", woldsenstraße1_image("2"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("3"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("4"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("5"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("6"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("7"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("8"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("9"), rel: "prettyPhoto[wohnungsfotos]" %> 
      <%= link_to "", woldsenstraße1_image("10"), rel: "prettyPhoto[wohnungsfotos]" %> 

  <!-- Closing the Container Column and Row -->
  </div>
</div>

<!-- PrettyPhoto -->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>