<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 50px;">
  <div class="container-fluid boostrap_header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>" style="color: white; font-weight: bold;">Urlaub im <span class="glyphicon glyphicon-heart"></span> Nordfrieslands
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Über uns", wir_path, style: "color: white;" %> </li>
          <li> <%= link_to "Wohnungen", ferienwohnungen_path, style: "color: white;" %> </li>
          <li> <%= link_to "Sylt", sylt_tipps_path, style: "color: white;" %> </li>
          <li> <%= link_to "Husum", husum_tipps_path, style: "color: white;" %> </li>
          <li> <%= link_to "Kontakt", kontakt_path, style: "color: white;" %> </li>      
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">Ferienwohnungen<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li> <%= link_to "Alle Wohnungen", ferienwohnungen_path %> </li>
            <li> <%= link_to "Wohnungen auf Sylt", ferienwohnungen_sylt_path %> </li>
            <li> <%= link_to "Wohnungen in Husum", ferienwohnungen_husum_path %> </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
