<div class="header">
		<div class="logo">
			<a href="<%= root_path %>">
				<%= image_tag "logo.jpg", alt: "Urlaub im Herzen" %>
 			</a> 
		</div> 	
		<div class="part_of_header">
			<a href="<%= wir_path %>">
				<h3> Über uns </h3>
			</a> 
		</div> 
		<div class="part_of_header">
			<a href="<%= ferienwohnungen_path %> ">
				<h3> Wohnungen </h2>
			</a> 
		</div> 
				
		<div class="part_of_header">
			<a href="<%= sylt_tipps_path %>">
				<h3> Sylt Tipps </h2>
			</a> 
		</div> 

		<div class="part_of_header">
			<a href="<%= husum_tipps_path %>">			
				<h3> Husum Tipps </h3>
			</a> 
		</div> 
		<div class="part_of_header">
			<a href="<%= kontakt_path %>">			
				<h3> Kontakt </h3>
			</a> 
		</div> 
</div>


