<div class="row header">
	<div class="col-xs-4">
		<a href="<%= root_path %>">
			<%= image_tag(s3_image("logo.jpg"), alt: "Urlaub im Herzen Nordfrieslands") %> 
		</a> 
	</div> 
	<div class="col-xs-8">
			<ul> 
			<li> <%= link_to "Über uns", wir_path %> </li>
			<li> <%= link_to "Wohnungen", ferienwohnungen_path %> </li>
			<li> <%= link_to "Sylt Tipps", sylt_tipps_path %> </li>
			<li> <%= link_to "Husum Tipps", husum_tipps_path %> </li>
			<li> <%= link_to "Kontakt", kontakt_path %> </li>
		</ul> 
	</div> 
</div> 


		


