<div class="row header">
	<div class="col-xs-11 col-xs-offset-1">
		<a href="<%= root_path %>">
			<%= image_tag(s3_image("logo.jpg"), alt: "Urlaub im Herzen Nordfrieslands") %> 
		</a> 
			<ul> 
				<li> <%= link_to "Über uns", wir_path %> </li>
				<li> <%= link_to "Wohnungen", ferienwohnungen_path %> </li>
				<li> <%= link_to "Sylt Tipps", sylt_tipps_path %> </li>
				<li> <%= link_to "Husum Tipps", husum_tipps_path %> </li>
				<li> <%= link_to "Kontakt", kontakt_path %> </li>
		</ul> 
	</div> 
</div> 


		


